@media (max-width:485px){
  .sidebar{
    display: none;
  }
}
.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 57px;
  width: 72px;
  z-index: 200;
}
.sidebar-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 78px;
  background-color: white;
  cursor: pointer;  
}

.sidebar div:hover{
  background-color: rgb(238, 238, 238);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div{
  font-size: 10px;
}
